  <div class="row">
    <div class="col-md-12">
      <p class="text-success">
        <%= notice %>
      </p>
          <h1>Categories</h1>
<br>
            <%= link_to "New category", new_category_path, class: "btn btn-primary green-button" %>
<br><br>
            <%= form_tag categories_path, method: :get, class: "form-inline", style: "margin-left:15px;", id: "products-view-form" do %>
          <div class="form-group mb-2">
            <%= select_tag :sort_by, options_for_select({ "Products (High to Low)" => "prod_desc", "Products (Low to High)" => "prod_asc" } ,params[:sort_by]), include_blank: 'Products' ,class: "form-inline" %>
            <%= submit_tag 'Filter', class: 'btn btn-primary mb-2 limegreen-button' %>
          </div>
<% end %>

 <%== pagy_info(@pagy) %>
   
<table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
          <tr>
            <td>
              <%= category.name %>
            </td>
            <td>
              <%= category.description %>
            </td>
            <td>
              <%= link_to "View #{category.products.count} Products", products_path(category_name: category.name) %>
            </td>
            <td>
              <%= link_to "Show this category", category, class:"btn btn-primary green-button" %>
              <%= button_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-primary limegreen-button"%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
  </div>
<%= stylesheet_link_tag 'buttons' %>
